@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@using SinusWebShop.Models
@using SinusWebShop.Api

<h1>Welcome to our Webshop!</h1>

<p>Explore our latest products and offers below</p>

@if (Categories != null && Categories.Any())
{
    <div class="main-categories">
        @foreach (var category in Categories)
        {
            <div class="category">
                <h2>@category</h2>
                <button class="explore-button" @onclick="() => NavigateToCategory(category)">Explore Products</button>
            </div>
        }
    </div>
}

@code {
    public List<string> Categories { get; set; }
    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Root result = await new ApiCaller().GetProductData("products");
            Categories = result.Products.Select(p => p.Category).Distinct().ToList();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private void NavigateToCategory(string categoryName)
    {
        NavigationManager.NavigateTo($"/category/{categoryName}");
    }
}

<style>
    body {
        background-color: #f0f0f0; /* Light background color */
        color: #333333; /* Dark text color */
        font-family: Arial, sans-serif; /* Font family */
    }

    h1, h2, p {
        text-align: center; /* Center align headings and paragraphs */
    }

    .main-categories {
        display: flex;
        flex-direction: column; /* Display categories in a vertical column */
        align-items: center; /* Center align categories horizontally */
        margin-top: 20px;
    }


    .category {
        background-color: #ffffff; /* White background color */
        border: 1px solid #000000; /* Black border */
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        text-align: center;
        width: 350px; /* Increased category width */
    }

        .category h2 {
            margin-bottom: 10px; /* Add space below category title */
            text-transform: capitalize; /* Capitalize only the first letter */
        }


    .explore-button {
        background-color: #007bff; /* Blue button color */
        color: #ffffff; /* White text color */
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .explore-button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
</style>
