@page "/ProductsPage/{Elektronik}"
@inject ProductService ProductService

@code {
    [Parameter]
    public string CategoryName { get; set; }

    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        //products = await ProductService.GetProductsAsync();
        // Filtrera produkter baserat på kategorin
        products = products.Where(p => p.Category == CategoryName).ToList();
    }
}

<h1>@CategoryName</h1>
<ul>
    @foreach (var product in products)
    {
        <li>@product.Title - @product.Price</li>
    }
</ul>


